.App {
	text-align: center;
}

.App-logo {
	height:         40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	display:          flex;
	flex-direction:   column;
	align-items:      center;
	justify-content:  center;
	min-height:       100vh;
	background-color: #282c34;
	font-size:        calc(10px + 2vmin);
	color:            white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

kbd {
	display: block;
	padding: 3px;
}